.top {
    background-color: #31659C;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding: 10px;
    color: white ;
}

.body {
    background-color: azure;
}
.sbox{
    width: 100px;
    display: inline;
    background-color: #ffcc33;
    margin: auto;
}
.text_two {
    color: white;
    font-size: 1.1em;
}
.box {
    width: 300px;
    border-radius: 25px;
    display: inline;
    background-color: #ffcc33;
    margin: auto;
}
.one {
    border-radius: 25px;
    width: 55vw;
    float: left;
    height: auto;
    min-height: 30vh;
    background-color: #94BAE7;
    padding: 1vh 1vw;
    margin: 1vh;
    margin-top: 1.3vh;
}
.two {
    border-radius: 25px;
    width: 42vw;
    float: right;
    height: 20vh;
    background-color: #94BAE7;
    padding: 1vh;
    margin: 1vh;
}
.three {
    border-radius: 25px;
    width: 55vw;
    float: left;
    height: 22vh;
    background-color: #94BAE7;
    padding: 1vh 1vw;
    margin: 1vh;
}

.four{
    border-radius: 25px;
    width: 55vw;
    float: left;
    height: 22vh;
    background-color: #94BAE7;
    padding: 1vh 1vw;
    margin: 1vh;
}
#text2{
    font-size: large;
}

#ava {
    border-radius: 50%;
    width: 9.5vw;
    height: 18vmin;
  }