.cred {
    text-align: right;
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}


.section {
    margin: 0 100px 0 100px;
    padding: 32px 0 0;
}

/* h3 {
    text-align: right;
} */
/* .MultiCarousel .MultiCarousel-inner .item>div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */
/* img {
    max-width: 50%;
    max-height: 50%;
  } */