{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />
        <title>{{ event.name }}</title>
    </head>
    <body class = "body">
        <div class="top">   
            <h1>{{ event.name }}</h1>
            <p>Hosted by: {{ event.host }}</p>
            <p>Hosted at: {{ event.hosted_at }} <a style="float: right" href="{% url 'index' %}">Home</a></p>
        </div>
        <div class="box">
            <div class="one">
                <img id="ava" src="{{ event.cover_image.url }}" alt="Avatar">
                <h2 style="padding-left: 1.2vh;">Description</h2>
                <p>{{ event.detail }}</p>
                <br>
                <h2 style="padding-left: 1.2vh;" >Comments</h2>
                <!-- Comment section -->
                {% if comments %}
                {% for comment in comments %}
                <div class="card mb-3">
                    <div class="card-hearder">
                        <small>[{{ comment.date }}]</small>
                        <div class="float-right">
                            <a onclick="like({{comment.id}});" class="btn btn-outline-dark btn-sm">
                                <i class="fas fa-thumbs-up"></i>
                                <span id="like{{comment.id}}">{{ comment.like }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                    {{ comment.content | linebreaksbr }}
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <p>No comment.</p>
                {% endif %}
                <br>
                <!-- Post a comment -->
                <form action="{% url 'detail' event.id %}" method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="textInput">Text</label>
                        <textarea id="textInput" name="comment_text" class="form-control" row="3"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
            <div class="four">
                <h3>Location: {{ event.address }} </h3>   
                <div id="map"></div>
                <script>
                function initMap() {
                    var uluru = { lat: {{ event.lat }}, lng: {{ event.lng }} };
                    var map = new google.maps.Map(document.getElementById('map'), {zoom: 15, center: uluru});
                    var marker = new google.maps.Marker({position: uluru, map: map}); 
                }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQmcTCoxvxXpPHWwYQJG04bLkmtjbySjU&callback=initMap" async defer></script>
            </div>
            <div class="three">
                <h2>Attendents({{event.attendees.all.count}})</h2>
            </div>
            
        </div>
    </body>
</html>