{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Welcome to *website's name here*</title>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}" />
    <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
    {% if not user.id %}
    <a href="login">Login</a>
    <a href="signup">Sign up</a>
    {% endif %}
    {% if user.id %}
    <a href="#">It is {{ user }}</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% endif %}
    <h1>Most popular events</h1>
    <div class="container">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,4" data-slide="4" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    {% for i in "x"|rjust:"100" %}
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">Multi Item Carousel</p>
                            <p>₹ 1</p>
                            <p>₹ 6000</p>
                            <p>50% off</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <button class="btn btn-primary leftLst">
                    <</button> <button class="btn btn-primary rightLst">>
                </button>
            </div>
        </div>
        <!-- <div class="row">
                <div class="col-md-12 text-center">
                    <br /><br /><br />
                    <hr />
                    <p>Settings</p>
                    <p>Change data items for xs,sm,md and lg display items respectively. Ex:data-items="1,3,5,6"</p>
                    <p>Change data slide for slides per click Ex:data-slide="1"</p>
                </div>
            </div> -->
    </div>
    <h1>Nearby events</h1>
    <div class="container">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,4" data-slide="4" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    {% for event in events %}
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">{{event.name}}</p>
                            <p>{{event.detail}}</p>
                            <p>Date: {{event.hosted_at}}</p>
                            <p>{{event.tags}}</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <button class="btn btn-primary leftLst">
                    <</button> <button class="btn btn-primary rightLst">>
                </button>
            </div>
        </div>
    </div>
    <h1>Featured</h1>
    <div class="container">
        <div class="row">
            <div class="MultiCarousel" data-items="1,3,5,4" data-slide="4" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    {% for i in "x"|rjust:"100" %}
                    <div class="item">
                        <div class="pad15">
                            <p class="lead">Straight party at Thanh's room</p>
                            <p>Polite and formal party for gentlement ( ͡° ͜ʖ ͡°)</p>
                            <p>Date: now</p>
                            <p>None</p>
                        </div>
                    </div>
                    {%endfor%}
                </div>
                <button class="btn btn-primary leftLst">
                    <</button> <button class="btn btn-primary rightLst">>
                </button>
            </div>
        </div>
    </div>
</body>

</html>