<div class="newly-loaded">
    {% if not state %}
        <div class="column1">
            {% for key, value in date_list.items %}
            <div class="rap-god">
                <div class="section" style="text-transform: uppercase;">{{ key }}</div>
                {% for event in value %}
                <div class="section">
                    <div class="card mb-3">
                        <div class="card-header">
                            <div class="nono">
                                <div>{{event.hosted_at|date:'g:i A'}}</div>
                            </div>
                            <div class="nono1">
                                <small>Hosted by: {{event.host}}</small><br>
                                <a href="{% url 'detail' event.id %}">{{ event.name }}</a><br>
                                <small>{{event.attendees.all.count}} people will go</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <!-- column 1 -->
    {% endif %}
</div>